baseline/ptrcnn_detect/*
baseline/ptrcnn_detect_format_tune1/*
baseline/.ipynb_checkpoints/*
baseline/.vscode/*
baseline/cmake-3.20.0/*
baseline/README.txt
baseline/results/*
baseline/figures/*
baseline/data/*
baseline/run_tracking.sh
baseline/eval/*
.vscode/
explore_data/waymo/*
explore_data/wod2kitti/*
explore_data/wod2kitti_pad/*
2D/waymo/*
2D/waymo_pad/*
2D/waymo_ctdet/*
