baseline/ptrcnn_detect/*
baseline/ptrcnn_detect_format_tune1/*
baseline/.ipynb_checkpoints/*
baseline/.vscode/*
baseline/cmake-3.20.0/*
baseline/README.txt
baseline/results/*
baseline/data/*
.vscode/
baseline/eval/*
explore_data/waymo/*
explore_data/wod2kitti/*
2D/waymo/*
