.vscode/
exploration/data/*
exploration/img_ctnet/waymo/*
exploration/img_ctnet/waymo_pad/*
exploration/img_ctnet/waymo_ctdet/*
exploration/lidar_ptrcnn/cmake-3.20.0/*
exploration/lidar_ptrcnn/data/*
exploration/lidar_ptrcnn/figures/*
exploration/lidar_ptrcnn/results/*
exploration/lidar_ptrcnn/run_base_ptrcnn.ipynb
exploration/lidar_ptrcnn/.ipynb_checkpoints/*
exploration/lidar_ptrcnn/.vscode/*
exploration/lidar_ptrcnn/README.txt
exploration/lidar_ptrcnn/eval/*
exploration/data/convert_check
exploration/data/waymo
exploration/data/wod2kitti_pad
exploration/data/validation_0000.tar
examples/data
examples/tmp_output/*
examples/tmp_trk_output/*
examples/tmp_3D_track/*
examples/argo_3D_track/*
examples/argo_3D_track_1log/*
user_data/*
